<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>拍卖界面</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>

<!--	与treasure共用同一个css-->
    <link rel="stylesheet" type="text/css" href="/static/treasure.css?v={{ver}}" />
    <link rel="stylesheet" type="text/css" href="/static/overall.css?v={{ver}}" />

	<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <h2>拍卖界面</h2>
    </div>

	<div id="filter-setting" class="container">
		<div class="form-row">
		  <div class="form-group form-check col-md-4" v-on:change="reload_filter()">
			<input type="checkbox" class="form-check-input" id="ignoreMaterials" v-model="ignoreMaterials">
			<label class="form-check-label" for="ignoreMaterials">只看装备</label>
		  </div>
		  <div class="form-group form-check col-md-4" v-on:change="reload_filter()">
			<input type="checkbox" class="form-check-input" id="schoolOnly" v-model="schoolOnly">
			<label class="form-check-label" for="schoolOnly">只看自己门派</label>
		  </div>
		  <div class="form-group form-check col-md-4" v-on:change="reload_filter()">
			<input type="checkbox" class="form-check-input" id="xinfaOnly" v-model="xinfaOnly">
			<label class="form-check-label" for="xinfaOnly">只看自己心法</label>
		  </div>
		</div>
	</div>

	<div class="container">

		<div id="treasure-list" v-if="reload_auction">
		<div class="accordion" v-for="boss in bosses">
		  <div class="card">
			<div class="card-header" :id='`heading-${boss}`'>
			  <h2 class="mb-0">
				<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" :data-target='`#collapse-${boss}`' aria-expanded="true" :aria-controls='`collapse-${boss}`'>
					[[ boss ]]
				</button>
			  </h2>
			</div>

			<div :id='`collapse-${boss}`' class="collapse" :aria-labelledby='`heading-${boss}`'>
			  <div class="card-body">
				<ul class="list-group">
					<li class="list-group-item accordion" v-for="item in AUCTION_BY_BOSS[boss]" :id='`item-${item["itemID"]}`'>
						<div :id='`subcollapse-${item["itemID"]}`' data-toggle="collapse" :data-target='`#auction-${item["itemID"]}`'>
							<img class="item-icon" :src="`https://icon.jx3box.com/icon/${item['property']['icon']}.png`">
							<div class="item-name">
								<p class="item-text" :itemID="`${item['itemID']}`" v-on:mouseOver="item_over" v-on:mouseOut="item_out" :class="'text-'+item['property']['quality']"> [[ item["name"] ]] </p>
							</div>
							<div class="item-sketch">
								<p class="item-sketch-text" :itemID="`${item['itemID']}`"> [[ getSketch(item) ]] </p>
							</div>
							<div class="item-attrib">
								<i :id='`bag-${item["itemID"]}`' class="bi bi-bag-plus hidden"></i>
								<i :id='`sync-${item["itemID"]}`' class="bi bi-shuffle hidden"></i>
							</div>
						</div>

						<div class="collapse bid-container mt-3" :id='`auction-${item["itemID"]}`'>
							<div class="container">
							  <div class="row">
									<p class="d-inline col-md-1 text-primary">起拍</p>
									<p class="d-inline col-md-2 font-weight-bold" :id='`base-price-${item["itemID"]}`' class="">[[ item['basePrice'] ]]</p>
									<p class="d-inline text-primary col-md-1" >单次</p>
									<p class="d-inline font-weight-bold col-md-2" :id='`single-price-${item["itemID"]}`' class="">[[ item['minimalStep'] ]]</p>
									<p class="d-inline text-danger col-md-1">当前</p>
									<p class="d-inline col-md-3" :id='`current-player-${item["itemID"]}`' class="">[[ item['currentOwner'] | ownerFormat ]]</p>
									<p class="d-inline font-weight-bold col-md-2" :id='`current-price-${item["itemID"]}`' class="">[[ item['currentPrice'] | priceFormat ]]</p>
							  </div>
							</div>
							<div>
							  <div class="row">
								<div class="col-md-4">
									<p> </p>
								</div>
								<div class="col-md-2">
          							<button type="submit" @click.prevent='bid_low(item["itemID"])' class="btn btn-info">填入最低</button>
								</div>
								<input class="col-md-2" :id='`bidnum-${item["itemID"]}`'>
								<div class="col-md-2">
									<button type="submit" @click.prevent='bid(item["itemID"])' class="btn btn-primary">出价</button>
								</div>
								<div class="col-md-2">
									<button type="submit" @click.prevent='autobid(item["itemID"])' class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="自动以最小间隔加价，直到达到填入的价格为止。在此之后仍可继续出价。
暂未实装，要期待更美好的未来！">自动出价</button>
								</div>
							  </div>
							</div>
							<ul class="list-group" v-if="reload_bids">
								<li class="list-group-item" v-for='bid in item["bids"]' :id='`bid-${item["itemID"]}-${bid["bidID"]}`'>
									<div class="row">
										<div class="col-md-3">
										</div>
										<div class="col-md-3">
											<p class="bid-line"> [[ bid['player'] ]] </p>
										</div>
										<div class="col-md-2">
											<p class="bid-line"> [[ bid['price'] ]] </p>
										</div>
										<div class="col-md-4">
											<p class="bid-line"> [[ bid['time'] | dateFormat ]] </p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
		</div>
	</div>

	<div class="container bottom">


	</div>

    <div id="float-alert" class="container float-alert">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div v-for="i in 5" :id="`alert-${i}`" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <p> </p>
                  <button type="button" class="close" aria-label="Close" :onclick="`hideAlert(${i})`">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>

<div id="desc-tooltip" class="desc-tooltip">
	<div id="desc-tooltip-content">

	</div>
</div>

<div id="desc-tooltip-1" class="desc-tooltip">
	<div id="desc-tooltip-content-1">

	</div>
</div>

<div id="desc-tooltip-2" class="desc-tooltip">
	<div id="desc-tooltip-content-2">

	</div>
</div>

<script>
	DUNGEON_ID = {{dungeonid}}
	PLAYER_NAME = "{{playername}}";
	PLAYER_TOKEN = "{{playertoken}}";
</script>

<script src="/static/constants.js?v={{ver}}"></script>
<script src="/static/auction.js?v={{ver}}"></script>

</body>
</html>