<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理页面</title>

    <script src="/static/vue.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"  crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/manage.css?v={{ver}}" />
    <link rel="stylesheet" type="text/css" href="/static/overall.css?v={{ver}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
</head>

<body>
    <div class="container">
        <h2>管理页面</h2>
    </div>
    <div class="container">
        <div class="p-2 bg-info rounded mt-3">
            <h5>记录掉落 </h5>
        </div>
        <form id="form-treasure">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputBoss">选择首领</label>
              <select v-model="boss" id="inputBoss" class="form-control" >
                <option v-for="bb in bosses">[[bb]]</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputTreasure">掉落列表</label>
              <textarea v-model="treasure" rows="5" class="form-control" id="inputTreasure" placeholder='用游戏中复制来的字符串格式，形如：&#13;&#10;[清蕊坠][揽江护腕·万花][五行石（六级）]&#13;&#10;可以使用茗伊掉落统计将单个BOSS的全部装备输出到聊天栏中。'>
              </textarea>
            </div>
          </div>
          <button type="submit" @click.prevent="submit" class="btn btn-primary">记录！</button>
        </form>

        <div id="alert2" class="alert alert-primary alert-dismissible fade show" role="alert">
          <p> </p>
        </div>
    </div>

    <div class="container">
        <div class="p-2 bg-info rounded mt-3">
            <h5>拍卖设置</h5>
        </div>
        <form id="form-startauction">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input1">散件起拍价</label>
              <input v-model="baseNormal" class="form-control" id="input1">
            </div>
            <div class="form-group col-md-3">
              <label for="input2">兑换牌起拍价</label>
              <input v-model="baseCoupon" class="form-control" id="input2">
            </div>
            <div class="form-group col-md-3">
              <label for="input3">普通武器起拍价</label>
              <input v-model="baseWeapon" class="form-control" id="input3">
            </div>
            <div class="form-group col-md-3">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input4">精简起拍价</label>
              <input v-model="baseJingjian" class="form-control" id="input4">
            </div>
            <div class="form-group col-md-3">
              <label for="input5">特效腰坠起拍价</label>
              <input v-model="baseTexiaoyaozhui" class="form-control" id="input5">
            </div>
            <div class="form-group col-md-3">
              <label for="input6">特效武器起拍价</label>
              <input v-model="baseTexiaowuqi" class="form-control" id="input6">
            </div>
            <div class="form-group col-md-3">
              <label for="input7">装备最小加价</label>
              <input v-model="stepEquip" class="form-control bg-secondary text-white" id="input7">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input8">材料起拍价</label>
              <input v-model="baseMaterials" class="form-control" id="input8">
            </div>
            <div class="form-group col-md-3">
              <label for="input9">材料最小加价</label>
              <input v-model="stepMaterials" class="form-control bg-secondary text-white" id="input9">
            </div>
            <div class="form-group col-md-2">
              <label for="input10">茶饼维峰丹起拍价</label>
              <input v-model="baseCharacter" class="form-control" id="input10">
            </div>
            <div class="form-group col-md-2">
              <label for="input11">茶饼维峰丹最小加价</label>
              <input v-model="stepCharacter" class="form-control bg-secondary text-white" id="input11">
            </div>
		    <div class="form-group form-check col-md-2" v-on:change="console.log('chabing')">
			  <input type="checkbox" class="form-check-input" id="input12" v-model="combineCharacterRaw">
			  <label class="form-check-label" for="input12">和材料一起拍</label>
		    </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input13">小附魔起拍价</label>
              <input v-model="baseXiaofumo" class="form-control" id="input13">
            </div>
            <div class="form-group col-md-3">
              <label for="input14">小附魔最小加价</label>
              <input v-model="stepXiaofumo" class="form-control bg-secondary text-white" id="input14">
            </div>
            <div class="form-group col-md-3">
              <label for="input15">大附魔起拍价</label>
              <input v-model="baseDafumo" class="form-control" id="input15">
            </div>
            <div class="form-group col-md-3">
              <label for="input16">大附魔最小加价</label>
              <input v-model="stepDafumo" class="form-control bg-secondary text-white" id="input16">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input17">小铁起拍价</label>
              <input v-model="baseXiaotie" class="form-control" id="input17">
            </div>
            <div class="form-group col-md-3">
              <label for="input18">小铁最小加价</label>
              <input v-model="stepXiaotie" class="form-control bg-secondary text-white" id="input18">
            </div>
            <div class="form-group col-md-3">
              <label for="input19">大铁起拍价</label>
              <input v-model="baseDatie" class="form-control" id="input19">
            </div>
            <div class="form-group col-md-3">
              <label for="input20">大铁最小加价</label>
              <input v-model="stepDatie" class="form-control bg-secondary text-white" id="input20">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="input21">特殊掉落起拍价</label>
              <input v-model="baseOther" class="form-control" id="input21">
            </div>
            <div class="form-group col-md-3">
              <label for="input22">特殊掉落最小加价</label>
              <input v-model="stepOther" class="form-control bg-secondary text-white" id="input22">
            </div>
            <div class="form-group col-md-2">
              <label for="input23">剑侠情缘汉字起拍价</label>
              <input v-model="baseHanzi" class="form-control" id="input23">
            </div>
            <div class="form-group col-md-2">
              <label for="input24">剑侠情缘汉字最小加价</label>
              <input v-model="stepHanzi" class="form-control bg-secondary text-white" id="input24">
            </div>
		    <div class="form-group form-check col-md-2" v-on:change="console.log('hanzi')">
			  <input type="checkbox" class="form-check-input" id="input25" v-model="combineHanziRaw">
			  <label class="form-check-label" for="input25">和材料一起拍</label>
		    </div>
          </div>

          <button type="submit" @click.prevent="submit" class="btn btn-primary">开始拍卖！</button>
        </form>

        <div id="alert4" class="alert alert-primary alert-dismissible fade show" role="alert">
          <p> </p>
        </div>
    </div>

    <div class="container">
        <div class="p-2 bg-info rounded mt-3">
            <h5>团队情况 </h5>
        </div>
        <div class="container" id="player-list" v-if="reload_player">
            <div class="container" v-for="row in 5">
                <div class="row">
                    <div class="col-md-1"> </div>
                    <div class="col-md-2 border" v-for="line in 5">
                        <div :id="`player-${line * 5 + row - 5}`">
                            <div>
                                <div :id="`player-${line * 5 + row - 5}-xinfa`" class="d-inline"> [[ PLAYER_LIST[line * 5 + row - 5]["xinfa"] ]] </div>
                                <i :id='`player-${line * 5 + row - 5}-kick`' class="bi bi-trash float-right hidden" data-toggle="modal" data-target="#kick-modal" @click.prevent="start_kick(line * 5 + row - 5)"></i>
                            </div>
                            <h5 :id="`player-${line * 5 + row - 5}-name`" class=""> [[ PLAYER_LIST[line * 5 + row - 5]["playerName"] ]] </h5>
                        </div>
                    </div>
                    <div class="col-md-1"> </div>
                </div>
            </div>
            <button type="submit" @click.prevent="reload" class="btn btn-primary">刷新面板</button>
            <!-- Modal -->
            <div class="modal fade" id="kick-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">开除队友</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    确定要开除 <p id="kick-target" class="d-inline"> [[kickTarget]] </p> 吗？这会移除其角色信息及所有的出价信息。 <br>
                    部分物品在移除出价信息后可能会错乱，需要单独重置物品的出价。（暂未实装）
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">放弃</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click.prevent="kick()">开除</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

	<div class="container bottom">
	</div>

    <div id="float-alert" class="container float-alert">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div v-for="i in 5" :id="`alert-${i}`" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <p> </p>
                  <button type="button" class="close" aria-label="Close" :onclick="`hideAlert(${i})`">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>

    <script src="/static/constants.js?v={{ver}}"></script>
    <script src="/static/manage.js?v={{ver}}"></script>
    <script>
        ADMIN_TOKEN = "{{admintoken}}";
        DUNGEON_ID = {{dungeonid}};
    </script>
</body>
</html>


